{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<div class="container-fluid bg-social">

	<div class="row">

		<div class="bloc_principal col-md-offset-1 col-md-7">
		{% if error %}
			<div class="row">
    			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    		</div>
		{% endif %}
			<div class="content">

       			<div class="section col-lg-12 col-md-12 register">
          			<h2>Nouveau ?</h2>
          				<a href="{{ path('user_register') }}">
		  					<button type="button" name="button" class="btn btn-success btn-inscription" >Inscription</button>
		  				</a>
        		</div>

       			<div class="section col-lg-12 col-md-12 log">
          			<h2 id="titre-connect">Se connecter</h2>

					<form  class="login-formulaire" action="{{ path("user_check") }}" method="post">

					<div class="col-md-12 register-title"></div>



					<div class="col-md-12 empty-div"></div>

					<div class="col-md-12 ">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


			    		<div class="col-md-4 col-md-offset-2">
					    	<label>Nom d'utilisateur</label>
					    </div>
						<div class="col-md-6">
							<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
					    </div>

					</div>

					<div class="col-md-12 register-form">
			    		<div class="col-md-4 col-md-offset-2">
					    	<label>Mot de passe</label>
					    </div>
						<div class="col-md-6">
							<input type="password" id="password" name="_password" required="required" />
					    </div>
					</div>

					<div class="col-md-12 register-form">
			    		<div class="col-md-4 col-md-offset-2">
					    	<label>Se souvenir de moi</label>
					    </div>
						<div class="col-md-6">
							<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    </div>
					</div>

					<div class="col-md-12 empty-div"></div>

			    	<div class="col-md-6 col-md-offset-6 register-but">
				        <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="Se connecter" />
				    </div>
				</form>



        		</div>

      		</div>

		</div>

		<div class="bloc_amis col-md-offset-1 col-md-2">
			<p>Ici vous verrez tous vos amis !!</p>
		</div>

	</div>

</div>

{% endblock %}
