{% extends 'base_accueil.html.twig' %}

{% block body %}
<div id="container">

  <div class="row">

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="enregistrement_formulaire">
      {{ form_start(form, {'method': 'post', 'action': path('user_register'), 'attr': {'class': 'fos_user_registration_register col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-xs-10'}}) }}
      <!--Formulaire-->
        <h3>Formulaire d'enregistrement</h3>
        <p>En rouge les champs obligatoires</p>
        <div class="form-group">
          {{ form_widget(form.username, {'attr': {'class': 'form-control obligatoire', 'placeholder': 'Nom dutilisateur'}}) }}
          {{ form_errors(form.username) }}
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
              {{ form_errors(form.plainPassword.first) }}
              {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control obligatoire', 'placeholder': 'Mot de passe'}}) }}
          </div>
          <div class="form-group col-lg-6">
              {{ form_errors(form.plainPassword.second) }}
              {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control obligatoire', 'placeholder': 'Ressaisissez votre mot de passe'}}) }}
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control obligatoire" id="Input_nom" placeholder="Nom" name="nom">
        </div>
        <div class="form-group">
          <input type="text" class="form-control obligatoire" id="Input_prenom" placeholder="Prénom" name="prenom">
        </div>
        <div class="form-group">
          {{ form_widget(form.email, {'attr': {'class': 'form-control obligatoire', 'placeholder': 'Email'}}) }}
          {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
          <input type="date" class="form-control obligatoire" id="Input_dateDeNaissance" placeholder="Date de naissance" name="Date_de_naissance">
        </div>
        <fieldset class="form-group">
          <input type="text" class="form-control" id="Input_github" placeholder="Lien github" name="github">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control" id="Input_linkedin" placeholder="Lien linkedin" name="linkedin">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control" id="Input_twitter" placeholder="Lien twitter" name="twitter">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control" id="Input_doyoubuzz" placeholder="Lien doyoubuzz" name="doyoubuzz">
        </fieldset>
        <fieldset class="form-group">
          <textarea class="form-control" id="Input_biographie" rows="6" placeholder="Biographie" name="biographie"></textarea>
        </fieldset>
        <input type="submit" class="btn btn-primary pull-right" value="{{ 'registration.submit'|trans }}"></input>
{{ form_end(form) }}
    </div>

  </div>

</div>
{% endblock %}
