{% extends 'base.html.twig' %}


{% block body %}
<div class="formulaire1 col-lg-offset-1 col-lg-4 col-lg-offset-1 col-md-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-xs-10"><h3><b>{{ app.user.username }}</b>,<h3>Mes informations</h3></div>
<div class="col-md-12">
	
	<div class="col-md-12 form_espace">
		<form action="{{ path("user_parameters") }}" method="post" class="espace_modif">
			<div class="col-md-12">
				<label for="username">Username :</label>
				<input type="string" id="username" name="username" value="{{ datauser.username }}"/>
			</div>
			<div class="col-md-12">
				<label for="email">Email :</label>
				<input type="string" id="email" name="email" value="{{ datauser.email }}"/>
			</div>
			
			<div class="col-md-12">
				<label for="nom">Nom :</label>
				<input type="string" id="nom" name="nom" value="{{ requete_infos.nom }}"/>
			</div>
			<div class="col-md-12">
				<label for="prenom">Prenom :</label>
				<input type="string" id="prenom" name="prenom" value="{{ requete_infos.prenom }}"/>
			</div>
			<div class="col-md-12">
				<label for="date_de_naissance">Date de naissance :</label>
				<input type="string" id="date_de_naissance" name="date_de_naissance" value="{{ requete_infos.date_de_naissance }}"/>
			</div>
			<div class="col-md-12">
				<label for="biographie">Biographie :</label>
				<input type="string" id="biographie" name="biographie" value="{{ requete_infos.biographie }}"/>
			</div>
			<div class="col-md-12">
				<label for="github">Github :</label>
				<input type="string" id="github" name="github" value="{{ requete_infos.github }}"/>
			</div>
			<div class="col-md-12">
				<label for="linkedin">Linkedin :</label>
				<input type="string" id="linkedin" name="linkedin" value="{{ requete_infos.linkedin }}"/>
			</div>
			<div class="col-md-12">
				<label for="twitter">Twitter :</label>
				<input type="string" id="twitter" name="twitter" value="{{ requete_infos.twitter }}"/>
			</div>
			<div class="col-md-12">
				<label for="doyoubuzz">Doyoubuzz :</label>
				<input type="string" id="doyoubuzz" name="doyoubuzz" value="{{ requete_infos.doyoubuzz }}"/>
			</div>
			<div class="col-md-12">
				<input type="submit" class="btnlogin" id="_submit" name="submit" value="Envoyer" />
			</div>
		</form>
	</div>	
</div>
{% endblock %}