{% extends 'base.html.twig' %}


{% block body %}
<div class="formulaire1 col-lg-offset-1 col-lg-4 col-lg-offset-1 col-md-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-xs-10"><h3><b>{{ app.user.username }}</b>,<h3>Mes informations</h3></div>
<div class="col-md-12">
	
	<div class="col-md-6 form_espace">
		<form action="{{ path("user_parameters") }}" method="post" class="espace_modif">
			<div class="col-md-12">
				<label for="username">Pseudo :</label>
				<input type="text" id="username" name="username" value="{{ app.user.username }}"/>
			</div>
			<div class="col-md-12">
				<label for="nom">Nom :</label>
				<input type="string" id="nom" name="nom" value="{{ datauser.nom }}"/>
			</div>
			<div class="col-md-12">
				<label for="prenom">Prenom :</label>
				<input type="string" id="prenom" name="prenom" value="{{ datauser.prenom }}"/>
			</div>
			<div class="col-md-12">
				<label for="age">Age :</label>
				<input type="string" id="age" name="age" value="{{ datauser.age }}"/>
			</div>
			<div class="col-md-12">
				<label for="biographie" class="labelbio">Biographie :</label>
				<textarea id="biographie" name="biographie">{{ datauser.biographie }}</textarea>
			</div><br>
			<div class="col-md-12">
				<label for="github">Github :</label>
				<input type="string" id="github" name="github" value="{{ datauser.github }}"/>
			</div>
			<div class="col-md-12">
				<label for="linkedin">Linkedin :</label>
				<input type="string" id="linkedin" name="linkedin" value="{{ datauser.linkedin }}"/>
			</div>
			<div class="col-md-12">
				<label for="twitter">Twitter :</label>
				<input type="string" id="twitter" name="twitter" value="{{ datauser.twitter }}"/>
			</div>
			<div class="col-md-12">
				<label for="doyoubuzz">Doyoubuzz :</label>
				<input type="string" id="doyoubuzz" name="doyoubuzz" value="{{ datauser.doyoubuzz }}"/>
			</div>
			<div class="col-md-12">
				<input type="submit" class="btnlogin" id="_submit" name="submit" value="Envoyer" />
			</div>
		</form>
	</div>	
</div>
{% endblock %}