{% extends 'base.html.twig' %}

{% block body %}

<div id="container">

	<div class="row">

	    <div class="enregistrement_formulaire">
	      <!--Formulaire-->
	      <form class="formulaire1 col-lg-offset-1 col-lg-4 col-lg-offset-1 col-md-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-xs-10">
	        <h3>Mes informations</h3>
	        <p>Cochez la case pour rendre visible vos informations personnelles !</p>
	        <label for="Input_username">Nom d'utilisateur</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>
	          <input type="text" class="form-control" id="Input_username" placeholder="{{ app.user.username }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_mdp1">Mot de passe</label>
	        <div class="input-group">
	          <input type="text" class="form-control" id="Input_mdp1" placeholder="{{ repo.password }}">
	        </div>
	        <div class="input-group">
	          <label for="Input_mdp1">Confirmation mot de passe</label>         
	          <input type="text" class="form-control" id="Input_mdp2" placeholder="{{ repo.password }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_nom">Nom</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_nom" placeholder="{{ datauser.nom }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_prenom">Prénom</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_prenom" placeholder="{{ datauser.prenom }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_naissance">Date de naissance</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_naissance" placeholder="{{ datauser.date }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	       	<label for="Input_email">Email</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="email" class="form-control" id="Input_email" placeholder="{{ repo.email }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	       </form>
	       <form class="formulaire2 col-lg-offset-1 col-lg-4 col-lg-offset-1 col-md-offset-1 col-md-4 col-md-offset-1 col-sm-10 col-xs-10">
	       	<label for="Input_github">Lien github</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_github" placeholder="{{ datauser.github }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_linkedin">Lien linkedin</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_linkedin" placeholder="{{ datauser.linkedin }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_twitter">Lien twitter</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_twitter" placeholder="{{ datauser.twitter }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_doyoubuzz">Lien doyoubuzz</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <input type="text" class="form-control" id="Input_doyoubuzz" placeholder="{{ datauser.doyoubuzz }}">
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <label for="Input_biographie">Biographie</label>
	        <div class="input-group">
	          <span class="input-group-addon">
        			<input type="checkbox" aria-label="...">
      			</span>	          
	          <textarea class="form-control" id="Input_biographie" rows="8" placeholder="{{ datauser.biographie }}"></textarea>
	          <span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
	        </div>
	        <button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
	      </form>
	    </div>

	</div>
</div>

{% endblock %}