{% extends 'base.html.twig' %}

{% block body %}

	<div id="container">

		<div class="row">

			<div class="bloc_principal col-md-offset-1 col-md-7">

	      <div class="section col-lg-12 col-md-12">
	       	<div class="row profil">

						<div class="profilcol1 col-lg-5">
							<ul>
								<li>Nom d'utilisateur :	{{ dataUser.username }}</li>
								<li>Nom, prénom : {{ dataUtilisateur.nom }}, {{ dataUtilisateur.prenom }}</li>
								<li>E-mail : {{ dataUser.email }}</li>
							</ul>
						</div>

						<div class="profilcol2 col-lg-offset-1 col-lg-5">
							<ul>
								<li>Compte github : {{ dataUtilisateur.github }} </li>
								<li>Compte twitter : {{ dataUtilisateur.twitter }}</li>
								<li>Compte doyoubuzz : {{ dataUtilisateur.doyoubuzz }}</li>
								<li>Compte linkedin : {{ dataUtilisateur.linkedin }}</li>
							</ul>
						</div>

					</div>

					<div class="row bio">
						<p class="text-center">{{ dataUtilisateur.biographie }}</p>
					</div>

	      </div>

	      <div class="section col-lg-12 col-md-12">
	       <h2>Statistiques</h2>
	        <p>Nombre d'articles écrits : 12</p>
	        <p>Nombre de commentaires écrits : 17</p>
	      </div>

	      <div class="section col-lg-12 col-md-12">
					{% for x in postUser %}
      			<p>{{ x['billet'] }}</p>
    			{% endfor %}
	      </div>

	    </div>

      <div id="sidebar">
            {{ render(controller('ActuBundle:Actu:sidebar')) }}
      </div>

		</div>

	</div>

{% endblock %}