{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-fluid">

    <div class="col-md-6 col-md-offset-3" style="padding-top:150px">
      <form method="post" action="{{ path ('messagerie_new') }}">
        <input type="text" name="destinataire">
        <textarea name="message" ></textarea>
        <input type="submit">
      </form>
    </div>

    <div class="col-md-6">
      {% set compteur = 1 %}

      {% for msg in tab|reverse %}

        <hr>
        <p>{{ msg['auteur']|upper }}</p>
        <p>{{ msg['message']|lower }}</p>
        <p>{{ compteur }}</p>

        {% set compteur = compteur + 1 %}

      {% endfor %}
    </div>

      <div id="sidebar">
            {{ render(controller('ActuBundle:Actu:sidebar')) }}
      </div>

  </div>

{% endblock %}
